.InfoBox {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
    z-index: 998;
    background-color: white;

    .InfoBoxRow {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .InfoBoxColumn {
        flex-direction: column;
    }
}

.InfoBoxClosed {
    width: 100% !important;
    height: 75px;
    right: 0;
    border-bottom-left-radius: 100% !important;
    border-bottom-right-radius: 100% !important;
    padding: 5px !important;
    transition: 1s;
}

.InfoBoxOpened {
    transition: 1s;
}
