@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.CalamityMap {
    margin: 0 auto;
    width: 100%;
    margin-top: 80px;
    display: inline-block;
    vertical-align: middle;
}