.Zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: #333;
  color: #fff;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}