.InfoBoxClose {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    opacity: 0.3;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 15px;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}